.afterapply-main {
	float: left;
    width: 99.9%;
    overflow: hidden;
}

.afterapply-gap {
	margin-bottom: 10px;
}

.afterapply-modmain {
	padding: 10px 20px 20px;
	display: inline-block;
}

.afterapply-modcomm {
    width: 860px;
	padding: 10px;
    background-color: #fff;
    margin-bottom: 20px;
}

.afterapply-top {
	padding: 10px 0;
    display: block;
}

.afterapply-modcomm .afterapply-top h3 {
	font-size: 14px;
    color: #666;
    font-family: '\5b8b\4f53';
    line-height: 18px;
}

.afterapply-extra {
	float: right;
    margin-top: -25px;
    margin-bottom: 15px;
}

.afterapply-repair-btn {
    display: inline-block;
    vertical-align: middle;
    background: #008b8b;
    padding: 0 10px;
    height: 21px;
    line-height: 21px;
    color: #008b8b;
    border-radius: 2px;
}

.afterapply-margin {
	margin-right: 10px;
}

.afterapply-extra a {
	color: white;
    text-decoration: none;
}

.afterapply-toptable {
	line-height: 20px;
	overflow: visible;
}

.afterapply-tb-void {
	line-height: 18px;
    text-align: center;
    border: 1px solid #f2f2f2;
    border-top: 0;
    color: #333;
    width: 100%;
}

.afterapply-tb-void th {
    background: #f5f5f5;
    height: 32px;
    line-height: 32px;
    padding: 0 5px;
    text-align: center;
    font-weight: 400;
}

.afterapply-list-proinfo {
    text-align: left;
    padding-left: 50px;
    padding-right: 18px;
    overflow: hidden;
    margin-bottom: 15px;
}

.afterapply-list-proinfo li a {
    float: left;
}


.afterapply-fore1 {
    overflow: hidden;
}

.afterapply-p-info {
    display: inline-block;
    width: 150px;
    height: 45px;
    line-height: 25px;
    vertical-align: top;
    overflow: hidden;
    margin-left: 60px;
    margin-top: -55px;
    padding-top: 5px;
}

.afterapply-p-info a {
    color: #236684;
    padding-top: 19px;
    text-decoration: underline;
}

.afterapply-form .afterapply-item {
    display: inline-block;
    display: block;
    margin-bottom: 20px;
    line-height: 30px;
}

.afterapply-margin2 {
    margin-left: 20px; 
}

.afterapply-repair-steps {
    width: 800px;
    padding: 5px 10px;
}

.afterapply-repair-step-curr, .afterapply-repair-steps .afterapply-repair-step-curr {
    border: 1px solid #ff6c00;
    padding: 20px 9px 0;
    margin: -5px -10px 15px;
}

.afterapply-repair-steps .afterapply-repair-step {
    padding: 20px 9px 0;
    margin: -5px -10px 15px;
    border: 1px solid #e6e6e6;
}

.afterapply-form .afterapply-item {
    display: block;
    margin-bottom: 20px;
    line-height: 30px;
}

.afterapply-form .afterapply-item span.afterapply-label {
    float: left;
    height: 18px;
    line-height: 18px;
    padding: 6px 0;
    text-align: left;
}

 .afterapply-label {
    width: 122px;
    margin-right: 3px;
}

.afterapply-face {
    width: 660px;
    float: left;
}

.afterapply-list-return {
	overflow: hidden;
	list-style: none;
}

.afterapply-list-return .afterapply-l-col {
    float: left;
    width: 135px;
}

.afterapply-list-return label {
    width: 100px;
    display: inline-block;
}

.afterapply-form em {
    color: #e4393c;
    margin-right: 5px;
}

.afterapply-applyreturn-layui-form-item {
    margin-bottom: 15px;
    clear: both;
}

.afterapply-applyreturn-layui-form-item span {
    color: #999;
}

.afterapply-applyreturn-wrapper button, input, optgroup, option, select, textarea {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    outline: 0;
}

.afterapply-applyreturn-layui-btn {
    display: inline-block;
    height: 38px;
    padding: 2px 18px;
    background-color: #009688;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin-left: 150px;
    margin-bottom: 50px;
}

.afterapply-applyreturn-layui-input-block {
    margin-bottom: 15px;
    margin-left: -5px;
}

.afterapply-applyreturn-layui-input-block textarea {
    width: 100%;
}

.afterapply-applyreturn-layui-form-item button {
    text-align: center;
}

#customerExpect li {
    margin-bottom: 5px;
}

.afterapply-face ul {
    list-style: none;
}

.afterapply-list-type li {
    position: relative;
    float: left;
    margin-right: 44px;
    white-space: nowrap;
    overflow: hidden;
    list-style: none;
    margin-left: -30px;
}

.afterapply-list-type li a {
    text-decoration: none;
    display: block;
    border: 1px solid #ebebeb;
    text-align: center;
    height: 18px;
    line-height: 18px;
    padding: 6px 28px;
    color: #666;
}

.afterapply-mt-10 {
    text-align: left;
}

.afterapply-repair-steps .afterapply-repair-step-curr {
    height: 300px;
}

.afterapply-applyreturn-layui-inputway {
    float: left;
    border-radius: 0 2px 2px 0;
    padding-top: 3px;
    padding-left: 15px;
    padding-right: 10px;
    outline: 0;
    -webkit-appearance: none;
    -webkit-transition: all 3s;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    background-color: #fff;
    display: block;
    border: 2px solid #e4393c;
    margin-left: 10px;
}

.afterapply-tips {
    padding-left: 125px;
    line-height: 20px;
    padding-top: 20px;
    margin-top: 35px;
    color: #666;
}

.afterapply-face input {
    width: 100px;
    margin-left: 10px;
    text-align: center;
}

.afterapply-face a {
    text-decoration: none;
    color: #666;
}

.afterapply-face a:hover {
    text-decoration: none;
    color: red;
}

.afterapply-applyreturn-layui-input-block2 {
    margin-bottom: 15px;
    left: -1px;
}

.afterapply-applyreturn-layui-textarea {
    min-height: 100px;
    height: auto;
    line-height: 20px;
    padding: 6px 10px;
    resize: vertical;
    outline: 0;
    -webkit-appearance: none;
    -webkit-transition: all 3s;
    box-sizing: border-box;
    display: block;
    width: 100%;
    margin-left: 10px;
}

.afterapply-applyreturn-layui-input-blockbottom {
    text-align: right;
    color: #999;
}

.afterapply-span-white {
    color: #666;
}

.afterapply-applyreturn-layui-input-block select {
    border: 1px solid #999;
}

.afterapply-applyreturn-select {
    float: left;
    margin-left: 15px;
}

#applyreturn-applydescribe1 {
    float: left;
    display:none;
    color: #666;
}

#applyreturn-applydescribe2 {
    float: left;
    display:none;
    color: #666;
}

#applyreturn-applydescribe3 {
    float: left;
    display:none;
    color: #666;
}

#applyreturn-applydescribe4 {
    float: left;
    display:none;
    color: #666;
}

#applyreturn-applydescribe5 {
    float: left;
    display:none;
    color: #666;
}

#applyreturn-applydescribe6 {
    float: left;
    display:none;
    color: #666;
}

.afterapply-applyexchange-layui-input-block select {
    border: 1px solid #999;
}

.afterapply-applyexchange-layui-input-block span {
    width: 100%;
}


.afterapply-applyexchange-select {
    float: left;
    margin-left: 10px;
}

#applyexchange-applydescribe1 {
    display:none;
    color: #666;
}

#applyexchange-applydescribe2 {
    display:none;
    color: #666;
}

#applyexchange-applydescribe3 {
    display:none;
    color: #666;
}

#applyexchange-applydescribe4 {
    display:none;
    color: #666;
}

#applyexchange-applydescribe5 {
    display:none;
    color: #666;
}

.afterapply-applymaintain-layui-input-block select {
    border: 1px solid #999;
}

.afterapply-applymaintain-select {
    float: left;
    margin-left: 10px;
}

.afterapply-applymaintain-select span {
    margin-top: -5px;
}

#applymaintain-applydescribe1 {
    display:none;
    color: #666;
}

#applymaintain-applydescribe2 {
    display:none;
    color: #666;
}

.afterapply-moretips {
    color: #a04141;
}

.afterapply-applyreturn-layui-inputway img {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 3px;
    width: 40px;
    height: 28px;
}

.afterapply-p-info a {
    text-decoration: underline;
}

.afterapply-fore1 img {
    width: 45px;
    height: 65px;
}

.afterapply-selected li a {
    border: 2px solid #e4393c;
    padding: 5px 27px;
    text-decoration: none;
    display: block;
    text-align: center;
    height: 18px;
    line-height: 18px;
    color: #666;
}

.afterapply-margin2 span {
    color: red;
}