

body{
	width: 1647px;
}

.commodityName{
	font-size: 24px; 
	font-weight: normal;
}

#commodity-introduction{
	width: 600px;
}

.message{
	padding-top: 10px;
}

.commo-price{
	display: block;
	font-size: 18px;
	line-height: 1;
	color: #ff6700;
	border-bottom: 1px solid #e0e0e0;
	padding: 12px 0 20px;
}
.div-img img {
	position: fixed;
	width: 560px;
	height: 560px;
	margin-left: 50px;
}

.commo-price del{
	font-size: 14px;
    margin-left: 5px;
    color: #b0b0b0;
}

div{
	display: block;
}

.sale-wrap{
	padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
	/*padding: 10px 0;*/
}

/*优惠券标签*/
.coupon-tag{
	width: 80px;
    padding: 2px 0;
    text-align: center;
    background: #ff6700;
    color: #fff;
    margin-bottom: 5px; 
}

.sale-wrap span{
	display: inline-block;
}
/*优惠内容*/
.coupon-name{
	width: 380px;
    line-height: 26px;
    margin-left: 5px;
}

.sale-wrap a{
	color: #ff6700;
}

/*主体*/
.address-wrap{
	margin-top: 40px;
    margin-bottom: 40px;
}

.address-wrap .user-default-address{
	background: #fafafa;
    border: 1px solid #e0e0e0;
    padding-left: 50px;
}

.user-default-address{
	padding: 30px 40px 30px 32px;
    border-top: 1px solid #e0e0e0;
    position: relative;
}

/*地址图标*/
.user-default-address .layui-icon-location{
	position: absolute;
    left: 0;
    top: 26px;
    font-size: 20px;
    color: #999;
	border: none;
}

.user-default-address .address-info{
	display: inline-block;
}

.item{
	margin-right: 14px;
}

.user-default-address .change-address{
	line-height: 1;
    color: #ff6700;
    cursor: pointer;
}

.user-default-address .product-status{
	color: #b0b0b0;
}

.user-default-address .active .sale{
	display: inline-block;
}

.user-default-address .product-status .sale{
    color: #ff6700;
}

/*版本信息*/
.list-wrap{
	margin-top: 40px;
}

.pro-version-choose{
	margin-bottom: 30px;
}

.pro-version-choose-text{
	line-height: 1;
	font-size: 18px;
}

#select-version-div{
	width: 600px;
}

#select-color-div{
	width: 600px;
}

#version1{
	margin-top: 10px;
	width: 260px;
	height: 50px;
	border-color: #ff6700;
}


#version2{
	margin-top: 10px;
	width: 260px;
	height: 50px;
}

#version3{
	margin-top: 10px;
	margin-left: 0;
	width: 260px;
	height: 50px;
}

#color1{
	margin-top: 10px;
	width: 260px;
	height: 50px;
	border-color: #ff6700;
}

#color2{
	margin-top: 10px;
	width: 260px;
	height: 50px;
}

#color3{
	margin-top: 10px;
	margin-left: 0;
	width: 260px;
	height: 50px;
}

#color4{
	margin-top: 10px;
	width: 260px;
	height: 50px;
}

/*保障服务*/
.security-service{
	margin-bottom: 30px;
}

.security-service ul{
	max-height: 706px;
    overflow-y: auto;
    width: 100%;
}

.security-service li{
	background: #fff;
    cursor: pointer;
    padding: 30px 0;
    float: none;
    font-size: 17px;
}

.security-service li i{
	display: block;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    line-height: 36px;
    margin-left: 30px;
    float: left;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
}

/*.security-service li img{
	width: 50px;
    height: 50px;
    margin-right: 15px;
    margin-left: 10px;
    float: left;
	border:0;
}*/

.name{
	font-size: 18px;
    margin-bottom: 10px;
}

.desc{
	font-size: 14px;
    height: 18px;
    color: #b0b0b0;
    width: 286px;
    overflow: hidden;
    _zoom: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.security-service-text{
	margin-top: 30px;
	line-height: 1;
	font-size: 18px;

}

.security-service-text a{
	font-size: 14px;
	float: right;
	color: #ff6700;
}


/*已选择的产品*/
.pro-list{
	padding: 30px;
	margin-bottom: 30px;
}

.pro-list ul li{
	list-style: none;
    line-height: 30px;
    color: #616161;
}

.pro-list ul li del{
	float: right;
}

.pro-list ul li span{
	float: right;
}

/*总计*/
.pro-list ul .total-price{
	color: #ff6700;
    font-size: 24px;
    padding-top: 20px;
}

.pro-policy{
	padding-top: 10px;
}

.pro-policy a{
	color: #b0b0b0;
	font-size: 12px;
}

.change-color{
	border-color: #ff6700;
}

#bottom-nav{
	margin-left: 20px;
	margin-top: 20px;
}
/*

.displayNone{
	display: none;
}*/
